<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/bootstrap.css">
    <link rel="stylesheet" href="/public/main.css">
    <title>index</title>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>留言板：请留下你想说的话。</h1>
        </div>
        <a class="btn btn-info btn-lg" href="/post">去留言</a>
        <ul>
            {{ each comments }}
            <li>{{ $value.name }}说：{{ $value.msg }}
                <span class="right">{{ $value.date }}</span>
            </li>
            {{ /each }}
        </ul>
    </div>
</body>
</html>